@font-face {
    font-family: Roboto-Medium;
    src: url("Roboto-Medium.ttf") format("truetype");
}

.container {
    width: 60%;
    margin: auto;
}

html {
    font-family: Roboto-Medium, sans-serif;
}

header {
    background-color: cadetblue;
}

li a {
    text-decoration: none;
}

li a:hover {
    background-color: red;
}

li a:hover::after {
    content:' @';
}

main{
    background-color: antiquewhite;
}

footer {
    background-color: darkgoldenrod;
}
